<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="characterff.js"></script>
<ul id="menu">
	<li class="line"><a href="/">Home</a></li>
	<li class="line"><a href="/characters">Characters</a></li>
	<li class="line active"><a href="/characterff">Character Relationships</a></li>
	<li class="line"><a href="/characterorg">Character Organization Loyalties</a></li>
	<li class="line"><a href="/characteraur">Character Aura Types</a></li>
	<li class="line"><a href="/organizations">Organizations</a></li>
	<li class="line"><a href="/locations">Locations</a></li>
	<li class="line"><a href="/aura-types">Aura Types</a></li>
</ul>

<form action="/characterffAdd" method="get"> Add A Character Friend or Foe Relationship<br>
	
	Select your first character
	<select name="character" id="character1" >
				

	</select>
		
		Select your second character
	<select name="character" id="character2" >
				

	</select>
		
	Select whether the characters are friends or foes
	<select name="FF" id="FF" >
						<option value=1>Friend</option>
						<option value=0>Foe</option>


	</select>
		
	<input type="submit" value="Add" id="add">
</form>
<p id="error"></p>
<br><br>

<form action="/characterffDel"> Manage Relationships
	<select name="character" id="character3">
		
	</select>
	<input type="submit" value="populate" id="populate">
</form>
	<ul id="fflist">
		<li>This will be a list of Friends and foes associated with the character<input type="submit" value="Delete" id="Delete"></li>
	</ul>